{% extends 'oscar/dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block title %}
    {{ title }} {% trans "Edit Client And Gst" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="color: #230BB3;" href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
            <li class="breadcrumb-item"><a style="color: #230BB3;" href="{% url 'voucher-sets' %}">{% trans "Voucher Sets" %}</a></li>
            {% if voucher_set.id %}
                <li class="breadcrumb-item"><a style="color: #230BB3;" href="{% url 'dashboard:voucher-set-detail' pk=voucher_set.voucher.pk %}">{{ voucher_set.vouchername }}</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{% trans "Edit" %}</li>
        </ol>
    </nav>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>Edit Client And Gst {% block headertext %}{% endblock %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="table-header">
        <h2><i class="fas fa-money-bill"></i>
            {% trans "Edit Voucher Set" %}
        </h2>
    </div>
    <form method="post" action="{% url 'edit-voucherset' voucher_id=voucher_set.id %}" class="card card-body form-stacked">
        {% csrf_token %}
        <!-- Voucher Name Dropdown -->
        <div class="form-group">
            <label for="voucher_name">Select Voucher Name<span style="color: red; font-size: small;">*</span></label>
            <select required class="form-control" id="voucher_name" name="voucher_name">
                {% for name in voucher_names %}
                    <option value="{{ name }}" {% if name == voucher_set.voucher.name %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="length_of_code">Length Of Code<span style="color: red; font-size: large;">*</span></label>
            <input class="form-control" type="text" placeholder="Enter Length of code" value="12" name="length_of_code"
                   id="length_of_code" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description" rows="5" cols="50"></textarea>
        </div>
        <div class="form-group">
            <label for="start_date">Start Datetime<span style="color: red; font-size: large;">*</span></label>
            <input class="form-control w-auto" type="datetime-local" placeholder="yyyy-mm-ddTHH:MM" name="start_date"
                   id="start_date"
                   value="{{ start_date }}">
        </div>
        <div class="form-group">
        <label for="end_date">End Datetime<span style="color: red; font-size: large;">*</span></label>
        <input class="form-control w-auto" type="datetime-local" placeholder="yyyy-mm-ddTHH:MM" name="end_date"
               id="end_date"
               value="{{ end_date }}">
        </div>
        <div class="form-group">
        <label for="number_of_voucher">Number Of Vouchers<span style="color: red; font-size: large;">*</span></label>
        <input class="form-control" type="text" placeholder="Enter Length of code" value="12" name="number_of_voucher"
               id="number_of_voucher" required>
        </div>

        <div class="form-group">
            <label for="shipping_charge">Shipping Charge<span style="color: red; font-size: large;">*</span></label>
            <input class="form-control" type="text" placeholder="Enter Length of code" value="0" name="shipping_charge"
                   id="shipping_charge" required>
            </div>

        <div class="form-group">
                <label for="offer_apply">Which offers apply for this voucher set?<span
                        style="color: red; font-size: large;">*</span></label>
                <input class="form-control" type="text" name="offer_apply" id="offer_apply" required>
        </div>

        <!-- Client Details Dropdown -->
        <div class="form-group">
            <label for="user">Select Client<span style="color: red; font-size: small;">*</span></label>
            <select required class="form-control" id="user" name="user">
                {% for user in users %}
                    <option value="{{ user.id }}" {% if user.id == voucher_set.user.id %}selected{% endif %}>{{ user }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Voucher Type Dropdown -->
        <div class="form-group">
            <label for="voucher_type">Select Voucher Type<span style="color: red; font-size: small;">*</span></label>
            <select required class="form-control" id="voucher_type" name="voucher_type">
                {% for voucher_type in voucher_types %}
                    <option value="{{ voucher_type }}" {% if voucher_type == voucher_set.voucher_type %}selected{% endif %}>{{ voucher_type }}</option>
                {% endfor %}
            </select>
        </div>

        {% block form_actions %}
            <div class="form-actions">
                <button type="submit" class="btn" style="background-color: #230BB3 !important; color: #fff;">Edit</button>
            </div>
        {% endblock form_actions %}
    </form>
{% endblock %}
