{% extends 'oscar/dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block title %}
    {{ title }} {% trans "Bulk Product Upload" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="color: #230BB3;" href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Bulk Product Upload" %}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">UPC</th>
            <th scope="col">title</th>
            <th scope="col">hsn_code</th>
            <th scope="col">description</th>
            <th scope="col">Specification</th>
            <th scope="col">image</th>
            <th scope="col">product_type</th>
            <th scope="col">is_public</th>
            <th scope="col">is_discountable</th>
            <th scope="col">best_seller</th>
            <th scope="col">standard_rate</th>
            <th scope="col">num_in_stock</th>
            <th scope="col">brand</th>
            <th scope="col">first_category</th>
            <th scope="col">structure</th>
            <th scope="col">attributes</th>
            <th scope="col">recommended_products</th>
            
          </tr>
        </thead>
        <tbody>
            {% for single in parent %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{single.upc}}</td>
            <td>{{single.title}}</td>
            <td>{{single.hsn_code}}</td>
            <td>{{single.description}}</td>
            <td>{{single.Specification}}</td>
            <td>{{single.image}}</td>
            <td>{{single.product_type}}</td>
            <td>{{single.is_public}}</td>
            <td>{{single.is_discountable}}</td>
            <td>{{single.best_seller}}</td>
            <td>{{single.standard_rate}}</td>
            <td>{{single.num_in_stock}}</td>
            <td>{{single.brand}}</td>
            <td>{{single.first_category}}</td>
            <td>{{single.structure}}</td>
            <td>{{single.attributes}}</td>
            <td>{{single.recommended_products}}</td>

          </tr>
         {% endfor %}
        </tbody>
      </table>
    



      {% endblock %}