{% extends 'oscar/dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block title %}
    {{ title }} {% trans "Edit Banner" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="color: #230BB3;" href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
            <li class="breadcrumb-item"><a style="color: #230BB3;" href="{% url 'CategoryPromotionList-list' %}">{% trans "All Category Banner Sets" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Edit Banner" %}</li>
        </ol>
    </nav>
{% endblock %}
{% block header %}
<div class="page-header">
    <h1>Edit Category Banner {% block headertext %}{% endblock %}</h1>
</div>
{% endblock %}

{% block content %}
<div class="table-header mr-3 ml-3">
    <h3><i class="fas fa-folder"></i> {% trans "Edit Category Banner" %}</h3>
</div>

    <form method="post" id="edit-banner-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card card-body mr-3 ml-3 mb-3">
            <div class="row pr-3 pl-3">
                 <div class="col-md-6">
                     <div class="form-group">
                         <label for="image">Image:</label>
                         <input type="file" name="image" id="image-input" class="form-control m-2" onchange="previewImage(this)">
                         <img id="image-preview" src="{{ banner.image.url }}" alt="Banner Image" class="img-fluid w-25 h-25">
                     </div>
                     <div class="form-group">
                         <label for="sub_category">Child Categories:</label>
                         <select name="sub_category1" class="form-control sub-category-select">
                             <option value="">Select a subcategory</option>
                         </select>
                     </div>
                     <div class="form-group">
                         <label for="title">Title:</label>
                         <input type="text" name="title" id="title" class="form-control" value="{{ banner.title }}">
                     </div>
                 </div>
                 <div class="col-md-6">
                    <div class="form-group">
                        <label for="category">Category:</label>
                        <select name="category1" class="form-control category-select" oninput="logBannercategory(this.value)" {% if banner.Link %} disabled {% endif %}>
                            <option value="" selected>Select a category</option>
                            {% for category in categories %}
                                {% if has_parent %}
                                    <option value="{{ category.id }}" {% if has_parent.id == category.id %} selected {% endif %}>{{ category.name }}</option>
                                {% else %}
                                    <option value="{{ category.id }}" {% if banner.category and banner.category.id == category.id %} selected {% endif %}>{{ category.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" style="margin-top:140px;">
                        <label for="title">Link:</label>
                        <input type="text" name="link" id="link" class="form-control" value="{{ banner.Link }}" oninput="logBannerLink(this.value)" {% if banner.category %} disabled {% endif %}>
                    </div>
                 </div>
            </div>



            <script>
                // Initial log
                console.log("Script is running!");
                console.log("Initial Banner Link:", "{{ banner.Link }}");

                // Function to log changes and set the values for condition
                function logBannerLink(value) {
                    console.log("Updated Banner Link:", value);
                    var categorySelect = document.querySelector('.category-select');
                    var linkInput = document.getElementById('link');
                    var  subcategoryselect = document.querySelector('.sub-category-select');



                    // Set the condition values based on whether there's a value
                    categoryValue = categorySelect.value !== '';
                    logBannerLinkValue = value !== '';

                    // Disable/enable the category select based on the condition
                    categorySelect.disabled = logBannerLinkValue;
                    subcategoryselect.disabled = logBannerLinkValue;

                    // Disable/enable the link input based on the condition
                    linkInput.disabled = categoryValue;
                }

                // Call the function initially with the current value
                // logBannerLink("{{ banner.Link }}");
            </script>


                <script>


                    // Function to log changes and set the values for condition
                    function logBannercategory(value) {
                        console.log("Updated category value:", value);

                        var linkInput = document.getElementById('link');

                        // Disable/enable the link input based on the condition
                        linkInput.disabled = value !== '';
                    }
                </script>







            {% block form_actions %}
                <div class="form-actions">
                    <button type="submit" class="btn" style="background-color: #230BB3 !important; color: #fff;">Save Changes</button>
                </div>
            {% endblock form_actions %}
        </div>
    </form>

<script>
    function previewImage(input) {
        var preview = document.getElementById('image-preview');
        var file = input.files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "{{ banner.image.url }}";
        }
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Function to perform the category dropdown change action
        function handleCategoryChange() {
            var parentCategoryId = $('.category-select[name="category1"]').val();
            var subCategorySelect = $('.sub-category-select');

            if (parentCategoryId) {
                $.ajax({
                    url: '{% url "get_child_categories" %}',
                    method: 'GET',
                    data: {'parent_category_id': parentCategoryId},
                    success: function (data) {
                        subCategorySelect.empty();

                        if (data.length === 0) {
                            subCategorySelect.append('<option value="">No subcategory available</option>');
                        } else {
                            subCategorySelect.append('<option value="">Select a subcategory</option>');
                            for (var i = 0; i < data.length; i++) {
                                subCategorySelect.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                            }
                        }
                    },
                    error: function (error) {
                        console.log('Error fetching child categories:', error);
                    }
                });
            } else {
                subCategorySelect.empty();
                subCategorySelect.append('<option value="">Select a subcategory</option>');
            }
        }

        // Call the function on page load
        handleCategoryChange();

        // Attach the function to the change event of the category dropdown
        $('.category-select[name="category1"]').on('change', handleCategoryChange);
    });
</script>

{% endblock %}
