{% extends "oscar/customer/baseaccountpage.html" %}
{% load i18n %}

{% block tabcontent %}
    {% if emails %}
        <table class="table table-striped table-bordered">
            <thead style="background-color: #230BB3 !important;color: #FFFFFF;">
                <tr>
                    <th style="font-weight: normal;">{% trans 'S.No' %}</th>
                    <th style="font-weight: normal;">{% trans 'Subject' %}</th>
                    <th style="font-weight: normal;">{% trans 'Date sent' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for email in emails %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a style="color: #230BB3 !important;" href="{% url 'customer:email-detail' email_id=email.id %}">{{ email.subject }}</a>
                        </td>
                        <td>{{ email.date_sent|date:"d/m/Y H:m" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "oscar/partials/pagination.html" %}
    {% else %}
        <p>{% trans 'No emails found' %}</p>
    {% endif %}
{% endblock tabcontent %}
