{% extends 'oscar/dashboard/layout.html' %}
{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block title %}
    {{ title }} {% trans "Voucher Requests" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="color: #230BB3;" href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
            <li class="breadcrumb-item">{% trans "Voucher Requests" %}</li>
        </ol>
    </nav>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>Voucher Requests {% block headertext %}{% endblock %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="table-header">
        <h3><i class="fas fa-user"></i> {% trans "All Voucher Requests" %}</h3>
    </div>
    <div class="table-responsive">


        <table class="table table-striped table-hover table-bordered">
            <thead style="background-color: #230BB3 !important; color: #fff;">
            <tr>
                <th style="font-weight: normal;">S.No</th>
<!--                <th style="font-weight: normal;">Voucher Name</th>-->
                <th style="font-weight: normal;">Voucher Id</th>

<!--                <th style="font-weight: normal;">Company Name</th>-->
<!--                <th style="font-weight: normal;">Voucher Type</th>-->
                <th style="font-weight: normal;">No.Of Vouchers</th>
                <th style="font-weight: normal;">Amount</th>
                <th style="font-weight: normal;">Status</th>
                <th style="font-weight: normal;">Submission Date</th>
                <th style="font-weight: normal;">Action</th>
            </tr>
            </thead>

            <tbody>
            {% for vouchers_request in voucher_requests_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
<!--                        <td><a style="color: #230BB3 !important;" href="{% url 'voucher-request-user-details' pk=vouchers_request.pk %}">{{ vouchers_request.voucher_request_name }}</a></td>-->
                        <td><a style="color: #230BB3 !important;" href="{% url 'voucher-request-user-details' pk=vouchers_request.pk %}">{{ vouchers_request.uuid|default:'-' }}</a></td>

<!--                        <td>{{ vouchers_request.user.clientdetails.company_name|default:'-' }}</td>-->
{#                        <td>#}
{#                            {% for category in vouchers_request.select_categories.all %}#}
{#                                {{ category.name }}#}
{#                                {% if not forloop.last %}, {% endif %}#}
{#                            {% empty %}#}
{#                                {{ "-" }}#}
{#                            {% endfor %}#}
{#                        </td>#}
<!--                        <td>{{ vouchers_request.voucher_type }}</td>-->
                        <td>{{ vouchers_request.no_of_vouchers }}</td>
                        <td>{{ vouchers_request.amount }}</td>
                        <td> <p class="btn {% if vouchers_request.status == 'Requested' %}btn-primary{% elif vouchers_request.status == 'Created' %}btn-success{% else %}btn-danger{% endif %} btn-sm">{{ vouchers_request.status}}</p></td>
                        <td>{{ vouchers_request.submission_date|date:"d/m/Y H:i"}}</td>
                        <td>
                            <a href="{% url 'voucher-request-user-delete' vouchers_request.id %}" class="btn btn-danger btn-sm"
                               onclick="return confirm('Are you sure you want to delete?')"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
            {% empty %}
                <tr>
                    <td colspan="12">No Voucher Request Found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}


